<%- include partials/header.ejs %>

  <section id="banner" class="mb-5">
      <div class="jumbotron mb-0">
        <div class="container">
          <div class="row d-flex">
            <div class="col-md-5 text-center">
              <img class="img-fluid" src="/images/broken-screen.png" alt="Broken Computer">
            </div>
            <div class="col-md-7 text-center text-md-left mt-4 mt-md-0">
              <h1 class="display-4">Computer Not Working?</h1>
              <p class="lead">My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got
                to go someplace
                else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps,
                find
                out where my goddamn money is. She gonna tell me too.</p>
              <p><a href="https://youtu.be/qo5jnBJvGUs?t=5s" role="button" class="btn btn-primary btn-lg" target="_blank">Say What! <i class="fas fa-grin-squint-tears"></i></a></p>
            </div>
          </div>
        </div>
        
      </div>
  </section>

  <section id="panels" class="mb-5">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">Hardware Problems?</h2>
              <p class="card-text">Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular
                gun in
                American crime. Do you believe that shit? It actually says that in the little book that comes with it: the
                most popular
                gun in American crime. Like they're actually proud of that shit.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">Software Problems?</h2>
              <p class="card-text">Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show
                to the
                people who make shows, and on the strength of that one show they decide if they're going to make more shows.
                Some
                pilots get picked and become television programs. Some don't, become nothing.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">PC Tune-Up</h2>
              <p class="card-text">Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than
                mine. You
                don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We
                swallow
                it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  
<%- include partials/footer.ejs %>