<%- include partials/header.ejs %>

  <div class="container my-5">
    <div class="row">
      <div class="col-md-4">
        <div class="alert alert-dark">
          <h2>Hardware Problems?</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti, perferendis iste. Nostrum quo repudiandae pariatur. Assumenda, officia eaque. Ut, explicabo?</p>
        </div>
        </div>
      <div class="col-md-4">
        <div class="alert alert-dark">
          <h2>Software Problems?</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti, perferendis iste. Nostrum quo repudiandae pariatur. Assumenda, officia eaque. Ut, explicabo?</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="alert alert-dark">
          <h2>PC Tune-Up</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti, perferendis iste. Nostrum quo repudiandae pariatur. Assumenda, officia eaque. Ut, explicabo?</p>
        </div>
      </div>
    </div>
  </div>

<%- include partials/footer.ejs %>