html, body {
  min-height: 100vh;
}

label {
  font-size: 1.2rem;
}

#banner {
  background: #E9ECEF;
  padding: 6em 0;
}

@media (min-width: 992px) {
  .navbar.navbar-dark {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-nav li {
    padding: .75em 1.5em;
  }

  .active {
    margin: 0;
    background: #212021;
  }
}

@media (max-width: 768px) {
  .submitBtn {
    display: block;
    width: 100%;
  }
}